  <!-- Modal -->
  <div class="modal fade" id="cardModal" tabindex="-1" role="dialog" aria-labelledby="cardModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Adicionar Cartão</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form action="/save-card" method="post">
            <div class="form-group">
              <label for="cardName">Titular</label>
              <input name="card[card_name]" required type="text" class="form-control" id="card-name" aria-describedby="cardName" placeholder="Titular">
            </div>

            <div class="form-group">
              <label for="cardName">Número</label>
              <input name="card[card_number]" maxlenght=20 required type="number" class="form-control" id="card-number" aria-describedby="cardNumber" placeholder="Número">
            </div>

            <div class="form-group">
              <label for="cardName">Mês de vencimento</label>
              <input name="card[card_expire_month]" maxlenght=2 required type="number" class="form-control" id="card-expire-month" aria-describedby="cardExpireMonth" placeholder="Mês de vencimento">
            </div>

            <div class="form-group">
              <label for="cardName">Ano de vencimento</label>
              <input name="card[card_expire_year]" maxlenght=4 required type="number" class="form-control" id="card-expire-year" aria-describedby="cardExpireYear" placeholder="Ano de vencimento">
            </div>

            <div class="form-group">
              <label for="cardName">Código de segurança</label>
              <input name="card[card_security]" maxlenght=5 required type="number" class="form-control" id="card-security" aria-describedby="cardSecurity" placeholder="Código de segurança">
            </div>

            <button type="submit" class="btn btn-dark btn-sm float-right">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>