  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main-navbar">
  <a class="navbar-brand" href="#">Ekki - Bank Solution</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <input type="hidden" name="user_id" id="user_id" value="{{user_id}}">
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/history">Histórico</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cards">Cartões</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contacts">Contatos</a>
      </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <h4 class="balance" id="balance">R$ <span id="balance-value"></span></h4>
      </li>
      <li class="nav-item" id="logout-btn">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>    
  </div>
</nav>