  <!-- Modal -->
  <div class="modal fade" id="transferenceModal" tabindex="-1" role="dialog" aria-labelledby="transferenceModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalLabel">Fazer Transferência</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form action="/transference" method="post">
            <input type="hidden" name="transference[origin_id]" id="transference_origin_id" value="{{user_id}}">

            <div class="form-group">
              <label for="cardName">Favorecido</label>
              <select name="transference[destiny_id]" id="transference_destiny_id" class="form-control" required>
                <option value="">Selecione</option>
              </select>
            </div>

            <div class="form-group">
              <label for="cardName">Valor (R$)</label>
              <input name="transference[value]" id="transference_value" maxlenght=2 required type="number" class="form-control" aria-describedby="transferenceValue" placeholder="Valor da transferência">
            </div>

            <div class="form-group">
              <label for="cardName">Descrição (opcional)</label>
              <textarea name="transference[description]" id="transference_description" class="form-control" aria-describedby="transferenceDescription" placeholder="Descrição da transferência"></textarea>
            </div>

            <button type="submit" class="btn btn-dark btn-sm float-right">Transferir</button>
          </form>

        </div>
      </div>
    </div>
  </div>