<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Language" content="pt-br">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Site CSS -->
    <link rel="stylesheet" href="css/site.css" />

    <title>Ekki - Bank Solution {{user_id}}</title>
  </head>
  <body>
    {% include "_navbar.html" ignore missing %}

    <main role="main" class="container">
      <div id="content">
        {% if alertMessage %}
          <div class="alert alert-secondary alert-dismissible fade show" role="alert">
            {{ alertMessage }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endif %}

        {% block content %}
        {% endblock %}
      </div>
    </main>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script type="text/javascript">
      $(document).ready(function(){
        let user_id = $('#user_id').val();

        // Get the balance
        if ( user_id ) {
          $.get( "/balance/" + String(user_id), function( data ) {
            $("#balance-value").html(data.balance);
            $("#balance").css("display", "block");
            $("#logout-btn").css("display", "block");
          });
        }

        // Get the contacts
        if ( $("#transference_destiny_id").length ) {
          $.get( "/contacts/" + String(user_id), function( data ) {
            data.contacts.forEach(function( contact ) {
              $("<option value='" + contact.user_id + "'>"+ contact.user_first_name + " " + contact.user_last_name +"</option>")
                .appendTo(("#transference_destiny_id"));
            });
          });          
        }

        /* TODO!! */
        if ( $("#btn-search-user").length ) {
          $("#btn-search-user").click(function(event){
            event.preventDefault();
              let contact_agency   = $("#contact_agency").val();
              let contact_account  = $("#contact_account").val();

              if ( !contact_agency || !contact_account ) {
                window.alert('Você precisa informar Agência e Conta');
                return;
              }

              $.get( "/user-detail/" + String(contact_agency) + "/" + String(contact_account), function( data ) {
                if( ! data.data ) {
                  alert("Usuário não encontrado!");
                  return;
                }
                
                let user = data.data;                
                
                $("#contact_user_id").val(user.user_id);

                $("#contact_user_firstname").html(user.user_first_name);
                $("#contact_user_lastname").html(user.user_last_name);
                $("#contact_user_agency").html(user.user_agency);
                $("#contact_user_account").html(user.user_account);
                
                $("#contact-info").removeClass("hidden-element");
              });
          });

          $("#btn-add-user").click(function(event) {
            event.preventDefault();
            
            let contact_user_id = $("#contact_user_id").val();
            console.log(contact_user_id);

            $.get( "/contact-save/" + String(contact_user_id), function( data ) {
              $(location).attr('href', '/contacts');
            });
          });
        }
      })
    </script>
  </body>
</html>