{% extends "base.html" %}
{% block content %}
  <h3 class="float-left">Cartões</h3>
  
  <button type="button" class="btn btn-dark btn-sm float-right" data-toggle="modal" data-target="#cardModal">
    Adicionar
  </button>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Titular</th>
        <th scope="col">Número</th>
        <th scope="col">Vencimento</th>
      </tr>
    </thead>
    <tbody>
      
      {% for card in cards %}
        <tr>
          <td scope="row">{{card.card_name}}</td>
          <td scope="row">{{card.card_number}}</td>
          <td scope="row">{{card.card_expire_month}}/{{card.card_expire_year}}</td>
          <td scope="row">
            <a class="btn btn-sm btn-dark" href="/card-remove/{{card.card_id}}">
              X
            </a>
          </td>          
        </tr>
      {% else %}
        <tr>
          <td colspan=4 scope="row">Nenhum Cartão</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>

  {% include "_card-modal.html" ignore missing %}

{% endblock %}