{% extends "base.html" %}
{% block content %}
  <div class="row">
    <h3 class="float-left">Adicionar Contato</h3>  
  </div>

  <input type="hidden" name="user_id" value="{{user_id}}" />
  
  <div class="row">
  	<div class="col-md-5">
      <div class="form-group">
        <label for="cardName">Agência</label>
        <input name="contact_agency" id="contact_agency" required type="number" class="form-control" aria-describedby="contactAgency" placeholder="Agência">
      </div>
  	</div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="cardName">Conta</label>
        <input name="contact_account" id="contact_account" required type="number" class="form-control" aria-describedby="contactAccount" placeholder="Conta">
      </div>
    </div>

    <div class="col-md-1">
      <div class="form-group">
        <label for="cardName">&nbsp;</label>
        <button id="btn-search-user" type="button" class="btn btn-dark btn-sm float-right">
          Buscar
        </button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 hidden-element" id="contact-info">
      <input type="hidden" name="contact_user_id" id="contact_user_id" />
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Sobrenome</th>
              <th scope="col">Agência</th>
              <th scope="col">Conta</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td scope="row" id="contact_user_firstname"></td>
                <td scope="row" id="contact_user_lastname"></td>
                <td scope="row" id="contact_user_agency"></td>
                <td scope="row" id="contact_user_account"></td>
              </tr>
          </tbody>
        </table>
        
        <button id="btn-add-user" type="button" class="btn btn-dark btn-sm float-right">
          Adicionar
        </button>
    </div>
  </div>
{% endblock %}