{% extends "base.html" %}
{% block content %}
  <h3 class="float-left">Contatos</h3>

  <a class="btn btn-dark btn-sm float-right" id="add-contact-btn" href="/contact-add">
    Adicionar Contato
  </a>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Sobrenome</th>
        <th scope="col">Apelido</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      
      {% for contact in contacts %}
        <tr>
          <td scope="row">{{contact.user_first_name}}</td>
          <td scope="row">{{contact.user_last_name}}</td>
          <td scope="row">{{contact.user_nickname}}</td>
          <td scope="row">
            <a class="btn btn-sm btn-dark" href="/contact-remove/{{contact.user_id}}">
              X
            </a>
          </td>
        </tr>
      {% else %}
        <tr>
          <td colspan=3 scope="row">Nenhum Contato</td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock %}