{% extends "base.html" %}
{% block content %}
  <h3 class="float-left">Histórico</h3>
  
  <button type="button" class="btn btn-dark btn-sm float-right" data-toggle="modal" data-target="#transferenceModal">
    Transferência
  </button>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Origem</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      {% for item in history %}
        <tr>
          <td scope="row">{{item.date}}</td>
          <td scope="row">{{item.origin_name}} {{item.origin_lname}}</td>
          <td scope="row">{{item.description}}</td>
          <td scope="row">{{item.value}}</td>
        </tr>
      {% else %}
        <tr>
          <td colspan=4 scope="row">Nenhum Histórico</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include "_transference-modal.html" ignore missing %}

{% endblock %}