{% extends "base.html" %}
{% block content %}
  <input type="hidden" name="user_id" value="{{user_id}}" />
  
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cartões</h5>
          <p class="card-text">Gerencie aqui seus cartões.</p>
          <a href="/cards" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Histórico</h5>
          <p class="card-text">Confira aqui o seu extrato.</p>
          <a href="/history" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Contatos</h5>
          <p class="card-text">Gerencie aqui seus contatos.</p>
          <a href="/contacts" class="btn btn-dark">Acessar</a>
        </div>
      </div>
    </div>        
  </div>
{% endblock %}