{% extends "base.html" %}
{% block content %}
  <div class="login-div">
    <div class="panel">
      <h2>Login</h2>
    </div>
    <form id="LoginForm" method="post" action="/login">
      <div class="form-group">
        <input type="text" class="form-control" id="username" name="username" placeholder="Usuário">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" name="password" placeholder="Senha">
      </div>

      <button type="submit" class="btn btn-sm btn-dark float-right">Enviar</button>
    </form>
  </div>  
{% endblock %}