body {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
  
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

#content {
  padding: 0.7em;
}

.balance {
  color: #FFF;
  font-size: 18pt;
  padding: 5px;
  margin-right: 10px;
  display: none
}

#logout-btn {
  display: none;
}

.hidden-element {
  display: none;
}